//
// コンテナのスタイル
//


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 112rem;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    @media  (min-width: 769px) { // 追加
        flex-direction: row; // 追加
    } // 追加
}