//
// サービスのスタイル
//

.service {
    padding-top: 4rem;
    padding-bottom: 2rem;
    @media (min-width: 769px) { // 追加
        padding-top: 8rem; // 追加
        padding-bottom: 6rem; // 追加
    } // 追加
}
.service-item {
    margin-bottom: 2rem;
    box-sizing: border-box;
    @media (min-width: 769px) { // 追加
        width: 50%; // 追加
        padding: 0 1rem; // 追加
    } // 追加
}

.service-body {
    background-color: $white;
}

.service-title {
    padding: 2rem 2rem 1.5rem;
    margin: 0;
    font-size: 1.8rem;
    @media (min-width: 769px) { // 追加
        font-size: 2rem; // 追加
    } // 追加
}

.service-text {
    padding: 0 2rem 2rem;
    margin: 0;
}
