//
// SNSのスタイル
//


.sns {
    padding: 4rem 0 2rem;
    background-color: $light-gray;
    @media (min-width: 769px) { // 追加
        padding-top: 8rem; // 追加
        padding-bottom: 6rem; // 追加
    } // 追加
    .container { // 追加
        @media (min-width: 769px) { // 追加
            justify-content: center; // 追加
        } // 追加
    } // 追加
}

.sns-item {
    margin-bottom: 2rem;
    @media (min-width: 769px) { // 追加
        width: 34rem; // 追加
        padding: 1rem; // 追加
    } // 追加
}